/* google fonts inport*/
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bebas+Neue&family=Courgette&family=Oswald&family=Playfair+Display&display=swap');

* {
    box-sizing: border-box
}

header,
section {
    overflow-x: hidden;
    /* hide all the extra left and right space from the header */
}

:root {
    --Alex-font: "Alex Brush", cursive;
    --Bebas: "Bebas Neue", cursive;
    --Courgette: "Courgette", cursive;
    --Oswald: "Oswald", cursive;
    --Playfiar: "Playfair Display", cursive;
    --light-black: #352F2D;
    --bgGradient: linear-gradient(to bottom,
            #304756, #82A2B2);
    --light-grey: rgba(255, 255, 255, 0);

}

.firstBlock {
    background: url('../public/equity-hero-policing.png');
    background-size: fill;
    padding: 100px 0px;
    position: relative;
    color: whitesmoke;
}

.firstBlock .title1 {
    font-family: var(--Oswald);
    font-size: 30pt;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;

}

.firstBlock .title2 {
    font-family: var(--Bebas);
    font-size: 40pt;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
}

.firstBlock .para1 {
    font-family: var(--Oswald);
    font-size: 20pt;
    padding: 0px 25px;
}

.firstBlock .Tuffs {
    color: whitesmoke;
    text-decoration: none;
}

.firstBlock .Tuffs:hover {
    text-decoration-line: underline;
}

.imgSplit .Complex {
    align-content: left;
    padding-right: 5px;
}

.LiArt {
    background: url("../public/LiArt.jpeg");
    background-size: cover;
}